# Node modules
node_modules/

# Environment variables
.env
.env.*

# Build folders
dist/
build/

# SQLite database (do NOT push)
backend/db/data.sqlite
backend/db/data.sqlite-shm
backend/db/data.sqlite-wal

# Uploads folder
backend/uploads/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db


# Database files
*.sqlite

# Upload folder
uploads/

